.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f8f8f8;
}

.app {
  width: 80%;
  margin: 20px auto;
}

.header {
  background-color: #f4f4f4;
  color: black;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 5px solid orange;
}

.name-title {
  text-align: left;
}

.contact {
  text-align: right;
}

.profile, .work-experience, .skills, .education {
  padding: 20px;
  border-bottom: 2px solid black;
  text-align: left;
  width: 100%;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills li {
  display: inline-block;
  background-color: #ddd;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
}

